{% extends 'core/base.html' %}

{% block title %}Edit items{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
   <h2 class="mb-12 text-2xl text-center">My Products</h2>
   <div class="grid grid-cols-3 gap-3">
      {% for product in products %}
      <div>
         <a href="{% url 'product:detail' product.id %}">
            <div class="p-6 bg-white rounded-b-xl">
               <h2 class="text-2xl">{{ product.name }}</h2>
               <p class="text-gray-500">Price: {{ product.price }}</p>
               <p class="text-gray-500">Description: {{ product.description }}</p>
            </div>
         </a>
      </div>
      {% endfor %}
   </div>
</div>
<h1>niggasinparis</h1>
{% endblock %}